body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #f0e3df;
}

:root {
  --fill-color: #353592;
  --empty-color: #50554e;
}
.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 300px;
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--fill-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #ffff;
  color: var(--empty-color);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--empty-color);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--fill-color);
}

.btn {
  background-color: var(--fill-color);
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
  margin: 5px;
  font-size: 13px;
  width: 80px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--empty-color);
  cursor: not-allowed;
}
